/* mobile */
@media screen and (max-width : 800px){

    /* main1 */
    .main{
        flex-direction: column;
        box-sizing: border-box;
        height: 200%;
        width: 150%;
    }
    .maintxtarea{
    max-width: 100%;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    font-size: 10px;
    }
    .maintxt{
    font-size: 300%;
    align-self: center;
    padding-left: 20px;
}
    .mainsubtxt{
    font-size: 100%;
    align-self: center;
}
    .mainpicture{
            max-width: 100%;
        padding-left: 1px;
    }

    /* main2 */
    .content{
        max-width: 100%;
        flex-direction: column;
        height: auto;
    }
    .picContent{
       width: 300%;
    }
    .picContentpix{
        width: 180%;
    }
    .txtcontent{
    max-width: 100%;
    height: auto;
    width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    justify-content: center;
    padding-left: 0%;
    }
    .txtcontentcontext{
        width: auto;
        font-size: 10px;
    }
    .txtcontenth1{
        padding-left: 3%;
        color: #4a4b65; 
    }
    .txtcontentcontextp{
        font-size: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

/* main3 */
}
/* global */
.h ,.p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* desktop */

/* main1 */
.main {
    display: flex;
    max-width: 100%;
    height: 100%;
    }
.maintxtarea{
    width: 100%;
    padding-bottom: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    margin-top: 15%;
    align-items: center;
}
.maintxt{  
    max-width: 100%;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300%;
    color: #4a4b65;  
    align-items: center;
}
.mainsubtxt{
    max-width: 100%;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    color: #737491;
    height: auto;
    align-items: center;
}
.mainpic{
    width: 130%;
}

/* main2 */

.content{
    display: flex;
    max-height: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.picContent{
    width: 40%;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    align-items: center;
    height: 100%;
    margin: auto;
}
.txtcontent{
    width: auto;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    background-color: rgb(255, 255, 255);
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
}
.txtcontentcontext{
    color: #4a4b65; 
    flex-direction: column;
    justify-content: center;
     text-align: center;
     font-size: 15px;
}
.txtcontenth1{
    color: #4a4b65; 
    justify-content: center;
}
.txtcontentcontextp{   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

/* main3 */

.portfolioHead{
max-width: auto;
display: flex;
height: 150px;
justify-content: center;
color: #4a4b65; 
/*background-color: blueviolet; */
}
.portfolioheader{
display: flex;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align:center;
flex-direction: column;
}
.portfoliogallery{
max-width: auto;
display: flex;
height: 700px;
flex-wrap: wrap;
height: auto;
}
.portfoliocontent{
width: 600px;
height: auto;
margin: 1px;
text-align: center;
}
.portfoliotext{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 100%;
margin: 1px;
color: #4a4b65; 
}
.portfoliotextp{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-bottom: 60px;
color: #4a4b65; 
margin: 0;
}
.footer1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
max-width: 100%;
text-align: center;
color: #4a4b65; 
}
.footer2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
max-width: 100%;
text-align: center;
color: #4a4b65; 
}